.account-overview-component {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 16px;
    background-color: #f1f8ff;
    border-bottom: 2px solid #c8e1ff;
    padding: 30px;
    padding-bottom: 60px;
}