.account-breakdown-component {
    position: absolute;
    left: 0;
    right: 0;
    width: 480px;
    transform: scale(0.0);
    transform-origin: center top;
    transition: all 220ms ease;
    background-color: white;
    border: 2px solid #c8e1ff;
    border-radius: 15px;
    cursor: auto;
    margin: 0 auto;
    margin-top: 8px;

    .account-breakdown-inner {
        text-align: left;
        padding: 16px 20px;
    }

    .account-breakdown-inner:before, .account-breakdown-inner:after {
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 50%;
        content: " ";
        border: solid transparent;
        pointer-events: none;
    }

    .account-breakdown-inner:before {
        border-color: rgba(200, 225, 255, 0);
        border-bottom-color: #c8e1ff;
        border-width: 13px;
        margin-left: -13px;
    }

    .account-breakdown-inner:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .breakdown-labels {

    }

    .breakdown-label {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: normal;
        font-weight: 600;
    }

    .breakdown-label.right {
        display: inline-block;
        vertical-align: top;
        float: right;
    }

    .breakdown-bars {
        position: relative;
        height: 14px;
        margin-top: 6px;
    }

    .breakdown-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 14px;
        border-radius: 15px;
    }

    .breakdown-bar.assets {
        background-color: rgba(63, 81, 181, 0.75);
        z-index: 1;
    }

    .breakdown-bar.liabilities {
        background-color: #ccc;
    }

    .breakdown-amounts {
        margin-top: 8px;
    }

    .breakdown-amount {
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        line-height: normal;
        letter-spacing: -0.5px;
    }

    .breakdown-amount.right {
        display: inline-block;
        vertical-align: top;
        float: right;
    }
}

//hover styles
.net-worth-inner:hover {
    .account-breakdown-component {
        transform: scale(1.0);
    }
}